section {

    background-color: #1f2d36;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

input {

    background-color: #2c3743;
    border: none;
    border-radius: 10px;
    box-shadow: -1px 0px 7.5px -2px rgb(0 0 0 / 82%);
    color: #f8f9fd;
    margin-left: 3%;
    padding: 1%;  
    width: 30%;
}

input::placeholder {

    color: #f8f9fd;;
}

select {

    background-color: #2c3743;
    border: none;
    border-radius: 7px;
    box-shadow: -1px 0px 7.5px -2px rgb(0 0 0 / 82%);
    color: #f8f9fd;
    margin-right: 4%;
}


@media screen and (max-width: 500px) {

    section {

        flex-direction: column;
        gap: 2rem;
    }

    input {

        margin: 4%;
        padding: 3.5%;
        width: 63%;
    }

    select {

        margin-right: 0;
        max-width: 50%;
        margin-left: 4%;
        padding: 3.5%;
        border-width: 0;
        border-radius: 4px;
    }
    
}