section {

    
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    transition: 0.5s;
}

.dark-theme {

    background-color: #1f2d36;
}

.light-theme {

    background-color: white;
}

input {
    
    background-image: url('../../img/buscar.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-left: 3%;
    padding: 1%;  
    transition: 0.5s;
    width: 30%;
}

.dark {

    background-blend-mode: difference;
    background-color: #2c3743;
    box-shadow: -1px 0px 7.5px -2px rgb(0 0 0 / 82%);
    color: #f8f9fd;
}

.dark::placeholder {

    color: #f8f9fd;;
}

.light::placeholder {

    color: #080909;
}

.light {

    background-color: rgb(254 255 255);
    background-blend-mode: 'initial';
    border: 1px solid #685f5f45;
    color: #080909;

}

select {

    border: none;
    border-radius: 7px;
    box-shadow: -1px 0px 7.5px -2px rgb(0 0 0 / 82%);
    margin-right: 4%;
    transition: 0.5s;
}

.select-dark {

    background-color: #2c3743;
    color: #f8f9fd;
}

.select-light {

    background-color: white;
    box-shadow: none;
    border: 1px solid #6f696945;
}


@media screen and (max-width: 500px) {

    section {

        flex-direction: column;
        gap: 2rem;
    }

    input {

        margin: 4%;
        padding: 3.5%;
        width: 63%;
    }

    select {

        margin-right: 0;
        max-width: 50%;
        margin-left: 4%;
        padding: 3.5%;
        border-width: 0;
        border-radius: 4px;
    }
    
}

@media screen and (min-width: 501px) and (max-width: 1000px) {

    input {

        padding: 2%;
        width: 40%;
    }
    
}