@media screen and (min-width: 320px) and (max-width: 550px) {
    
    .card .countriesInfo {


        font-size: 1.1rem;
        margin-bottom: 18%;
    }

    .card {
            
        width: 100%;
        margin-top: 10%;
    }

    .countryImage {

        color: '';
    }
}


@media screen and (min-width: 550px) and (max-width: 900px) {
    

    .card {

        margin: 0;
    }

    .card .countriesInfo {

        /* margin-bottom: 0; */
        margin: 15% 7%;
    }
}


@media screen and (min-width: 901px) and (max-width: 1199px) {
    

    .card .countriesInfo {

        margin-bottom: 20%;
        overflow: scroll;
    }
}


@media screen and (min-width: 1200px) {

    .card .countriesInfo {


        margin-bottom: 0;
    }
}